pc_softmax_higher_accuracy/cub_experiments/DomainSimilarityDemo.ipynb
pc_softmax_higher_accuracy/cub_experiments/slim/nets/mobilenet/mobilenet_example.ipynb
pc_softmax_higher_accuracy/cub_experiments/slim/slim_walkthrough.ipynb